OnlineChapters/SourceCode/Online Chapters/Source Code for Online Chapters/OC6/ServiceApp/WebFormTest/Connected Services/UseTheService/ANewService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ANewService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ANewService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value1Value" type="xs:int" />
      <xs:element minOccurs="0" name="Value2Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputType" nillable="true" type="tns:InputType" />
  <xs:complexType name="ResultType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultType" nillable="true" type="tns:ResultType" />
</xs:schema>