OnlineChapters/SourceCode/Online Chapters/Source Code for Online Chapters/OC6/ServiceApp/WebFormTest/Connected Services/UseTheService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ANewService" />
  <xs:element name="DoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value1" type="xs:int" />
        <xs:element minOccurs="0" name="Value2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAddUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ANewService" minOccurs="0" name="composite" nillable="true" type="q1:InputType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAddUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ANewService" minOccurs="0" name="DoAddUsingDataContractResult" nillable="true" type="q2:ResultType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>