OnlineChapters/SourceCode/Online Chapters/Source Code for Online Chapters/OC6/ServiceApp/WebFormTest/Connected Services/UseTheService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ANewService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TheService_DoAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAdd" />
  </wsdl:message>
  <wsdl:message name="TheService_DoAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAddResponse" />
  </wsdl:message>
  <wsdl:message name="TheService_DoAddUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAddUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="TheService_DoAddUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAddUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="TheService">
    <wsdl:operation name="DoAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/TheService/DoAdd" message="tns:TheService_DoAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TheService/DoAddResponse" message="tns:TheService_DoAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAddUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/TheService/DoAddUsingDataContract" message="tns:TheService_DoAddUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TheService/DoAddUsingDataContractResponse" message="tns:TheService_DoAddUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TheService" type="tns:TheService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoAdd">
      <soap:operation soapAction="http://tempuri.org/TheService/DoAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAddUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/TheService/DoAddUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_TheService" binding="tns:BasicHttpBinding_TheService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ANewService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>